html
    head
        title= "real time nodejs maps"
        meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
        meta(charset='utf-8')

        script(src='/jquery.js')
        script(src='/socket.io/socket.io.js')
        script(src='/data.js')
    body
        #content
